<!DOCTYPE html>
<html>
  <head>
    <title>UrbnBike Updates</title>

    <link rel="stylesheet" href="/stylesheets/styles.css" media="screen">
    <script charset="utf-8" type="text/javascript" src="/javascripts/scripts.js"></script>
    <script charset="utf-8" type="text/javascript" src="/javascripts/jquery.js"></script>

  </head>
  <body>

  <h2> Sign up for updates </h2>
  <form class="" action="/subscribers" method="post">
    <input type="text" name="subscriber[first_name]" value=""/>
    <input type="text" name="subscriber[last_name]" value=""/>
    <input type="text" name="subscriber[username]" value=""/>

    <input type="text" name="subscriber[email]" value=""/>
    </br>
    <label> <input type="checkbox" name="subscriber[updates]" value="true"/> Sign me up for app updates </label>
    </br>
    <label> <input type="checkbox" name="subscriber[surveys]" value="true"/> I would like to help make UrbnBike better by taking the occasional survey </label>
    </br>
    <input type="submit" value="Submit" />
  </form>


  </body>
</html>
