<!DOCTYPE html>
<html>
  <head>
    <title>UrbnBike Updates</title>

    <link rel="stylesheet" href="/stylesheets/styles.css" media="screen">

    <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="javascripts/scripts.js"></script>

  </head>
  <body>

  <h2> Sign up for updates </h2>
  <form class="subscribe" action="/subscribers" method="post">
    <label> First Name <input type="text" name="subscriber[first_name]"/> </label></br>
    <label> Last Name <input type="text" name="subscriber[last_name]" /> </label></br>
    <label> e-mail <input type="text" name="subscriber[email]" id="email"/> </label></br>
    <p></p>
    <!-- <label> Choose a username <input type="text" name="subscriber[username]" value=""/> </label> --></br>
    <label> <input type="checkbox" name="subscriber[updates]" value="true"/> Sign me up for app updates </label></br>
    <label> <input type="checkbox" name="subscriber[surveys]" value="true"/> I would like to help make UrbnBike better by taking occasional surveys on my experience </label></br>
    <input type="submit" value="Submit" />
  </form>

  <script>

  var error;

  function checkEmail(email) {
      var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
      return re.test(email);
  }

   $('#email').change(function() {
    var email = $(this).val();
    if ( checkEmail(email) ){
      $('p').empty();
      error = false;
      console.log(email);
    } else {
      error = true;
      $('p').addClass('error');
      $('p').text('please enter fields');
    }
  });

  $('form').submit(function(e){
    if(error){
      e.preventDefault();
    };
  })


//VALIDATION FUNCTIONS

  </script>
  </body>
</html>
